header{
    background-color: #2e6da4;
    width: 100vw;
    height: 5vh;

}

.btn{padding: 15px;

    background-color: orangered;
    width:500px;
    height:70px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 20px;
    color: white;
}

#table{
    width: 100vw;
}